<div class= "parent">
                        <div class=" logo">
                                <h1> Notesapp</h1>
                        </div>
                        <div class="log">

                                <div class="white">


                         <h2> Login to your account </h2>
	<input type="text" placeholder="Your Name"  [formControl]="Name"/> 
	<input type="password" placeholder="YourPassword" [formControl]="Password"/>
<button (click)="open()" class="but" routerLink="/firstpage" >Login</button>
                                </div>
                        </div>
</div>
