*{
margin:0;
padding:0;
box-sizing:border-box;
}
.parent{
display:flex;
height:100vh;
width:100vw;
}
h2{
font-size:20px;
color:#162252;

}
.logo{
display:flex;
flex-direction:column;
background-color:lightgrey;
width:50%;
height:100%;
text-align:center;
justify-content:center;
}
.log{
height:100%;
width:50%;
background-color:#0e44e1;
display:flex;
flex-direction:column;
justify-content:center;
text-align:center;
align-items:center;
gap:10px;
}
.white{
padding:20px;
gap:20px;
display:flex;
flex-direction:column;
justify-content:center;
justify-items:center;
align-items:center;
height:27%;
width:50%;
background-color:#E6E8FA;
text-align:center;
box-sizing: border-box;
border-radius:15px;
}
.fo{
display:flex;
flex-direction:column;
align-items:center;

}
input{
height:3em;
width:16rem;
border-radius:7px;
border: none;
gap:20px;
padding:15px;
}

.fo{
gap:20px;}

.but{
background-color:#0e44e1;
height:2rem;
width:5rem;
color:white;
border-radius:7px;
border: none;
}
