
<div class="notes">

	<ng-container *ngIf="data.length===0 && displayform && !cardclick && !creatingnotes">
        <button (click)="disf()"class="alert">Create <fa-icon [icon]="fapl"></fa-icon></button>
         </ng-container>
	
<ng-container *ngIf="(!displayform && !cardclick && data.length===0) || creatingnotes ">
        <form [formGroup] = 'saved'>
	<input type="text" placeholder="Title" formControlName="title" class="title"/>
	<textarea type="text"  class="no2"type="text" formControlName="description"></textarea>
	<button (click)="save()" class="cre"> Save </button>
	</form>
</ng-container>

<ng-container *ngIf="(cardclick || data.length!==0 && !displayform) && !creatingnotes">
        <app-viewnotes [noteValue]="data"></app-viewnotes>
</ng-container>
</div>

