*{
margin:0;
padding:0;
box-sizing:border-box;
}
.notes{
display:flex;
flex-direction:column;
height:100%;
width:100%;
background-color:white;
border-radius:15px;
border:1px solid grey;
gap:20px;
}
.title{
background-color:white;
height:15%;
width:30%;
text-align:start;
margin:50px;
border-radius:10px;
box-shadow:0px 4px 32px 1px #00000029;
border:none;
outline:none;
font-size:20px;
padding:20px;
}
.categories{
background-color:white;
height:15%;
width:30%;
border-radius:10px;
border:none;
outline:none;
font-size:20px;
padding:20px;
box-shadow:0px 4px 32px 1px #00000029;
}

.no2{
margin:50px;
width:90%;
height:100%;
outline:none;
font-size:20px;
padding:20px;
border-radius:15px;
}
.cre{
height:3rem;
width:8rem;
background-color:#0e44e1;
color:white;
border-radius:15px;
border:none;
margin-left:50px;
}

.alert{
height:35%;
width:50%;
background-color:white;
box-shadow:0px 4px 32px 30px #00000029;
border-radius:10px;
border:none;
outline:none;
font-size:25px;
margin-left:50%;
margin-top:35%;
transform:translate(-50%, -50%);
}
