<div class="notes">

	 <ng-container *ngIf="texts.length===0 && displayform && !newinput && !fresh">
        <button (click)="disf()"class="alert">Create <fa-icon [icon]="fap"></fa-icon></button>
         </ng-container>
	
<ng-container *ngIf="(!displayform && !newinput) || fresh"  >
        <form [formGroup] = 'saved'>
	<input type="text" placeholder="Title" formControlName="tit" class="title"/>
        <input type="text" placeholder="Categories" formControlName="ca" class="categories"/>
	<textarea type="text"  class="no2"type="text" formControlName="txt"></textarea>
	<button (click)="save()" class="cre"> Save </button>
	</form>
</ng-container>

<ng-container *ngIf="newinput">
        <app-viewnotes [noteValue]="texts"></app-viewnotes>
</ng-container>
</div>

