*{
margin:0;
padding:0;
box-sizing:border-box;
}
.viewnotesalignment{
display:flex;
flex-direction:column;
margin:10px;
gap:10px;
overflow:hidden;
height:98vh;
overflow:scroll;
}
.dis{
display:flex;
flex-direction:column;
background-color:#E9F3FF;
width:100%;
border-radius:15px;
gap:10px;
padding:30px;
overflow: scroll;
border:none;
min-height:7rem;
max-height:15rem;
}
