*{
margin:0;
padding:0;
box-sizing:border-box;
}
.parent{
display:flex;
height:100vh;
width:100vw;
gap:5px;
}
.cate{
display:flex;
background-color:#0e44e1;
height:100%;
width:20%;
color:white;
border-radius:15px;
}
.align{
display:flex;
flex-direction:column;
width:100%;
margin:30px;
}
.al{
display:flex;
justify-content: space-between;
}
.al2{
display:flex;
gap:50px;
}
.addnote{
display:flex;
flex-direction:column;
background-color:#e2eeff;
padding:20px;
height:100%;
width:30%;
color:white;
border-radius:15px;
}
.notes{
display:flex;
height:100%;
width:50%;
background-color:white;
border-radius:15px;
}
